<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b55ecd51a.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/help">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor-login">
        <div>
            <form action="/" method="GET">
                <div class="form-login">
                    <div class="div-login">
                        <input type="text" name="nomusu" id="nomusu" placeholder="Nombre de usuari@" required class="input-login">
                    </div>
                    <div class="div-login">
                        <input type="password" name="contra" id="contra" placeholder="Contraseña" required class="input-login">
                    </div>
                    <div class="div-login">
                        <button type="submit" class="input-login boton-enviar">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <section class="footer1">
            <div class="art-footer">
                <i class="fa-solid fa-credit-card iconos-footer"></i>
                <h4 class="footer-titulares">Pagá con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="art-footer">
                <i class="fa-solid fa-gift iconos-footer"></i>
                <h4 class="footer-titulares">Envío gratis desde $2.500.-</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="art-footer">
                <i class="fa-solid fa-user-shield iconos-footer"></i>
                <h4 class="footer-titulares">Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>
        <p align="center">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>