<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="contenedor-login">
        <div>
            <form action="/" method="GET">
                <div class="form-login">
                    <div class="div-login">
                        <input type="text" name="nomusu" id="nomusu" placeholder="Nombre de usuari@" required class="input-login">
                    </div>
                    <div class="div-login">
                        <input type="password" name="contra" id="contra" placeholder="Contraseña" required class="input-login">
                    </div>
                    <div class="div-login">
                        <button type="submit" class="input-login boton-enviar">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>