<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Ofertas</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-main">
        <div class="contenedor-1200">
            <%- include('./partials/ofertas') %>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>