<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Tiendas</title>
</head>
<body>
    <%- include('./partials/header') %>
    <h1>TIENDAS</h1>
    <%- include('./partials/footer') %>
</body>
</html>