* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
}

.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-top-bar, .main-navbar {
    max-width: 1200px;
    margin: auto;
}
.main-header-top-bar {
    align-items: center;
}

.busqueda {
    height: 100%;
    width: 37%;
}

.busqueda input {
    width: 100%;
}

.logo {
    width: 200px;
}

.main-main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 25px;
    justify-content: center;
    text-align: center;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.titular {
    text-align: center;
}

.articulos {
    width: 75%;
    background-color: grey;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.articulos:hover {
    box-shadow: 5px 10px #3f3f3f;
}

.nomprod {
    padding-bottom: 15px;
}

.precio-desc {
    display: flex;
}

.precio {
    flex-grow: 3;
    align-self: center;
}

.desc {
    flex-grow: 7;
    color: green;
}

.footer1 {
    display: flex;
}

.art-footer {
    display: flex;
    flex-direction: column;
}

.iconos-footer {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    color: #1259C3;
}

.iconos-footer:hover {
    color: #113e82;
}

.contenedor-login {
    background-color: gainsboro;
    margin-bottom: 25px;
    padding: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.div-login {
    width: 75%;
    height: 40px;
}

.input-login {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.boton-enviar {
    background-color: #03264C;
    color: white;
}

.boton-borrar {
    background-color: red;
    color: white;
}

.boton-borrar:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.boton-enviar:hover {
    background-color: #0022AA;
}

#ofertas, #ultima {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.div-banner {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.banner {
    width: 80%;
}


.img-main {
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
}

.caja-general {
    border-top: solid #ebebeb 1px;
    padding: 15px;
}

.borde-form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-crear {
    max-width: 90%;
    margin-top: 25px;
    background-color: gainsboro;
}

.form-crear div {
    margin: 10px;
    padding: 5px;
}

.form-crear div input {
    border-radius: 3px;
}

.borde-prod {
    margin: 25px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.camioncito:hover {
    animation: rotar 1s 1 forwards;
}

@keyframes rotar {
    100% { transform: rotateZ(-90deg) }
}

@media (max-width: 767px) {
    .busqueda {
        display: none;
    }
    .footer1 {
        display: flex;
        flex-direction: column;
    }

    #ultima, #ofertas {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    .contenedor-1200 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .ofertas-none {
        display: none;
    }
    #ultima, #ofertas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .arti1, .arti2, .arti3, .arti4 {
        display: flex;
        justify-content: space-between;
    }
    .main-main {
        justify-content: center;
    }
    .titular {
        display: block;
        font-size: 1.5rem;
    }
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}