* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
}

.hamburguer-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
}

.main-main {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

#ofertas, #ultima {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.div-banner {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.banner {
    width: 80%;
}


.img-main {
    width: 50%;
}

.caja-general {
    border-top: solid #ebebeb 1px;
    padding: 15px;
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {
    .contenedor-1200 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .ofertas-none {
        display: none;
    }
    #ultima, #ofertas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .arti1, .arti2, .arti3, .arti4 {
        display: flex;
        justify-content: space-between;
    }
    .main-main {
        justify-content: start;
    }
    .titular {
        display: block;
        font-size: 1.5rem;
    }
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}
